

body {
  padding: 20px;
  background-color: #f6d365 !important;
  // background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  cursor: default;
}

video,
canvas {
  background: azure;
}
  