@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&subset=cyrillic');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f6d365;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    cursor: default;
  }
  